[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/app
Environment={{ lookup('aws_ssm', '{{ env }}.payment.cart.nldevopsb01_host', region='us-east-1' ) }}
Environment=CART_PORT={{ lookup('aws_ssm', '{{ env }}.payment.cart.nldevopsb01_port_alb', region='us-east-1' ) }}
Environment={{ lookup('aws_ssm', '{{ env }}.payment.user.nldevopsb01_host', region='us-east-1' ) }}
Environment=USER_PORT={{ lookup('aws_ssm', '{{ env }}.payment.user.nldevopsb01_port_alb', region='us-east-1' ) }}
Environment={{ lookup('aws_ssm', '{{ env }}.payment.rabbitmq.nldevopsb01_host', region='us-east-1' ) }}
Environment={{ lookup('aws_ssm', '{{ env }}.payment.rabbitmq.nldevopsb01_user', region='us-east-1' ) }}
Environment={{ lookup('aws_ssm', '{{ env }}.payment.rabbitmq.nldevopsb01_pwd', region='us-east-1' ) }}

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target