[Unit]
Description = Catalogue Service

[Service]
User=roboshop
Environment=DOCUMENTDB=true
Environment=MONGO_URL={{ lookup('aws_ssm', 'dev.catalogue.mongo_endpoint', region='us-east-1' ) }}
ExecStart=/bin/node /app/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target

